In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
from flask import jsonify

In [2]:
url = os.environ.get('DATABASE_URL','postgres://pt:pt@localhost:5432/PythonTutorials')

In [3]:
engine = create_engine(url)

In [4]:
data = pd.read_sql_query('select * from data',con=engine.connect())

In [5]:
data

                                     id      date  key name  value
0  6ac700cc-e41e-11e6-a65d-e0f847320a3a  20170101    1    A   10.0
1  4d15fc1e-e41f-11e6-9cbf-e0f847320a3a  20170101    3    C   30.0
2  67a92bb4-e41f-11e6-8677-e0f847320a3a  20170101    3    C   30.0
3  1ba4e68a-e489-11e6-8b8b-e0f847320a3a  20170101    1    A   10.0
4  b596f40c-e489-11e6-bde2-e0f847320a3a  20170101    1    A   10.0
5  06a5e7b4-f6da-11e6-93e5-c82a141a9fc4  20170101    3    C   30.0

In [6]:
connection = engine.connect()

In [7]:
data = connection.execute("select * from data").fetchall()

In [8]:
data

[(UUID('6ac700cc-e41e-11e6-a65d-e0f847320a3a'), 20170101, 1, 'A', Decimal('10.00')),
 (UUID('4d15fc1e-e41f-11e6-9cbf-e0f847320a3a'), 20170101, 3, 'C', Decimal('30.00')),
 (UUID('67a92bb4-e41f-11e6-8677-e0f847320a3a'), 20170101, 3, 'C', Decimal('30.00')),
 (UUID('1ba4e68a-e489-11e6-8b8b-e0f847320a3a'), 20170101, 1, 'A', Decimal('10.00')),
 (UUID('b596f40c-e489-11e6-bde2-e0f847320a3a'), 20170101, 1, 'A', Decimal('10.00')),
 (UUID('06a5e7b4-f6da-11e6-93e5-c82a141a9fc4'), 20170101, 3, 'C', Decimal('30.00'))]