In [6]:
import xlwings as xw
import pandas as pd

In [17]:
# open excel
wb = xw.Book('Python.xlsx')
sh = wb.sheets('Sheet1')

In [7]:
sh.range('A1').value = 'Data'

In [9]:
data = pd.read_csv('data/data.csv')
data[:1]

       Date Class  Id  Value
0  20170101     A   1   10.0

In [16]:
# set range
sh.range('A2').value = data

In [15]:
# read range
sh.range('G2:H5').options(pd.DataFrame, expand='table').value

    Name
Id
1.0    A
2.0    B
3.0    C

In [14]:
# read named range
sh.range('config').options(pd.DataFrame, expand='table').value

    Name
Id
1.0    A
2.0    B
3.0    C