In [2]:
import pandas_datareader.data as web
import datetime

In [3]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2017, 2, 13)

In [4]:
tsla = web.DataReader("TSLA", 'google', start, end)

In [5]:
tsla

              Open    High     Low   Close    Volume
Date
2017-01-03  214.86  220.33  210.96  216.99   5923254
2017-01-04  214.75  228.00  214.31  226.99  11213471
2017-01-05  226.42  227.48  221.95  226.75   5911695
2017-01-06  226.93  230.31  225.45  229.01   5527893
2017-01-09  228.97  231.92  228.00  231.28   3979484
2017-01-10  232.00  232.00  226.89  229.87   3659955
2017-01-11  229.07  229.98  226.68  229.73   3650825
2017-01-12  229.06  230.70  225.58  229.59   3790229
2017-01-13  230.00  237.85  229.59  237.75   6092960
2017-01-17  236.70  239.96  234.37  235.58   4617522
2017-01-18  236.65  239.71  235.58  238.36   3768967
2017-01-19  247.25  248.68  240.75  243.76   7732303
2017-01-20  245.46  246.00  243.01  244.73   4204275
2017-01-23  245.85  250.89  245.50  248.92   6262938
2017-01-24  250.00  254.80  249.65  254.61   4965451
2017-01-25  257.31  258.46  251.80  254.47   5146361
2017-01-26  254.29  255.74  250.75  252.51   3152123
2017-01-27  251.38  253.00  248.52  252.95   3166336
2017-01-30  252.53  255.29  247.10  250.63   3801074
2017-01-31  249.24  255.89  247.70  251.93   4116104
2017-02-01  253.05  253.20  249.05  249.24   3958829
2017-02-02  248.34  252.42  247.71  251.55   2499775
2017-02-03  251.91  252.18  249.68  251.33   2186723
2017-02-06  251.00  257.82  250.63  257.77   3562517
2017-02-07  258.19  260.00  256.42  257.48   4244775
2017-02-08  257.35  263.36  256.20  262.08   3933014
2017-02-09  266.25  271.18  266.15  269.20   7820222
2017-02-10  269.79  270.95  266.11  269.23   3619739
2017-02-13  270.74  280.79  270.51  280.60   7029605

In [6]:
from pandas_datareader.oanda import get_oanda_currency_historical_rates

In [10]:
start, end = "2017-01-01", "2017-02-14"
In [3]: quote_currency = "USD"
In [4]: base_currency = ["EUR", "GBP"]

In [11]:
df_rates = get_oanda_currency_historical_rates(
            start, end,
            quote_currency=quote_currency,
            base_currency=base_currency
        )

In [12]:
df_rates

             EUR/USD   GBP/USD
Date
2017-01-01  1.052540  1.234701
2017-01-02  1.052540  1.234701
2017-01-03  1.044171  1.228150
2017-01-04  1.043220  1.226910
2017-01-05  1.053760  1.234380
2017-01-06  1.057820  1.236351
2017-01-07  1.053650  1.229070
2017-01-08  1.053670  1.229090
2017-01-09  1.054050  1.219900
2017-01-10  1.058630  1.215701
2017-01-11  1.054200  1.215780
2017-01-12  1.062470  1.222600
2017-01-13  1.062840  1.217560
2017-01-14  1.064799  1.218910
2017-01-15  1.064830  1.218900
2017-01-16  1.060970  1.205190
2017-01-17  1.066059  1.219320
2017-01-18  1.068780  1.233201
2017-01-19  1.063920  1.229571
2017-01-20  1.066870  1.233481
2017-01-21  1.070470  1.237800
2017-01-22  1.070500  1.237850
2017-01-23  1.073320  1.244180
2017-01-24  1.075020  1.250109
2017-01-25  1.073540  1.255941
2017-01-26  1.072620  1.262049
2017-01-27  1.068520  1.256229
2017-01-28  1.070260  1.255349
2017-01-29  1.070280  1.255370
2017-01-30  1.069920  1.254060
2017-01-31  1.073210  1.251270
2017-02-01  1.078210  1.260600
2017-02-02  1.079120  1.262660
2017-02-03  1.076080  1.250901
2017-02-04  1.079030  1.248870
2017-02-05  1.079059  1.248899
2017-02-06  1.075730  1.247570
2017-02-07  1.070080  1.244320
2017-02-08  1.067691  1.250860
2017-02-09  1.068190  1.253130
2017-02-10  1.064670  1.249210
2017-02-11  1.064370  1.249240
2017-02-12  1.064400  1.249260
2017-02-13  1.062340  1.250610