In [29]:
import pandas as pd
import pandas_datareader.data as web
import datetime
from datetime import timedelta

In [30]:
end = pd.to_datetime('today')
start = end - timedelta(days=7)
start, end

(Timestamp('2017-02-12 00:00:00'), Timestamp('2017-02-19 00:00:00'))

In [31]:
tsla = web.DataReader("TSLA", 'google', start, end)
tsla

              Open    High     Low   Close   Volume
Date
2017-02-13  270.74  280.79  270.51  280.60  7029605
2017-02-14  279.03  287.39  278.61  280.98  7345224
2017-02-15  280.00  282.24  276.44  279.76  4947856
2017-02-16  277.60  280.00  268.50  268.95  7077322
2017-02-17  265.80  272.89  264.15  272.23  6257149

In [32]:
from pandas_datareader.oanda import get_oanda_currency_historical_rates

In [33]:
In [3]: quote_currency = "USD"
In [4]: base_currency = ["EUR", "GBP"]

In [34]:
df_rates = get_oanda_currency_historical_rates(
            start, end,
            quote_currency=quote_currency,
            base_currency=base_currency
        )
df_rates

            EUR/USD   GBP/USD
Date
2017-02-12  1.06440  1.249260
2017-02-13  1.06234  1.250610
2017-02-14  1.06014  1.250159
2017-02-15  1.05729  1.245049
2017-02-16  1.06324  1.248170
2017-02-17  1.06520  1.246131
2017-02-18  1.06209  1.241719